@font-face {
    font-family: Orbite;
    src: url(font/Orbite-Regular.ttf);
}

*{
    text-decoration: none;
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
}

header {
    background-color: #333;
    background-image: url(img/background.png);
    background-position: center;
    background-size: 2000px;
    background-repeat: no-repeat;
    color: #fff;
    text-align: center;
    padding: 20px;
}

img{
    width: auto;
    height: 100px;
}

h2 {
    color: #fff;
}

button{
    padding: 10px;
    border-radius: 10px;
    background-color: #00142c;
    color: #fff;
    border: 2px #fff solid;
    transition: all 1s ease;
    cursor: pointer;
}

button:hover{
    border-radius: 20px;
    background-color: #fff;
    color: #000000;
    border: #000000;
}

button:active{
    background-color: #000000;
    color: #fff;
    border: #fff;
}

.hero {
    background-color: #021755;
    padding: 20px;
    border-radius: 20px;
    color: #fff;
    text-align: center;
    margin: 10px;
}

.hero .news{
    background-color: #010d34;
    padding: 10px;
    border-radius: 20px;
}

.hero .doubleur{
    font-family: Orbite;
    font-weight: 1;
    font-size: 2em;
}

.contact {
    background-color: #444;
    color: #fff;
    padding: 40px 0;
    text-align: center;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

footer a{
    color: #fff;
    text-decoration: underline;
}

.caption {
    margin-top: 10px;
    font-size: 13px;
    color: #ffea03;
    font-family: Arial;
}

.finished-caption {
    margin-top: 10px;
    font-size: 13px;
    color: #5bff03;
    font-family: Arial;
}

.unfinished-caption {
    margin-top: 10px;
    font-size: 13px;
    color: #ff0303;
    font-family: Arial;
}

.non-caption {
    margin-top: 10px;
    font-size: 13px;
    color: #000000;
    font-family: Arial;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.docs{
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.finished-docs{
    display: none;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.unfinished-docs{
    display: none;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.non-docs{
    display: none;
    justify-content: left;
    align-items: center;
    flex-wrap: wrap;
}

.new-docs-s1{
    background-color: #333;
    background-image: url(img/background.png);
    background-position: center;
    background-size: cover;
    padding: 5px 20px;
    border-radius: 30px;
    margin: 10px;
    display: none;
}

.new-docs-s1 h1{
    color: #fff;
    font-family: Arial;
}

.new-docs-s1 strong{
    font-family: Orbite;
    font-size: 2em;
    font-weight: 1;
}

.hero .season{
    font-family: Orbite;
    font-weight: 1;
    font-size: 1.5em;
}

.new-docs-s2{
    background-color: #333;
    background-image: url(img/background-s2.png);
    background-position: center;
    background-size: cover;
    padding: 5px 20px;
    border-radius: 30px;
    margin: 10px;
    display: none;
}

.new-docs-s2 h1{
    color: #fff;
    font-family: Arial;
}

.new-docs-s2 strong{
    font-family: Orbite;
    font-size: 2em;
    font-weight: 1;
}

@media screen and (max-width : 768px){
    header{
        background-size: 1000px;
    }
    .new-docs{
      background-color: #333;
      background-image: url(img/background.png);
      background-position: center;
      background-size: cover;
      padding: 5px 20px;
      border-radius: 30px;
      margin: 10px;
    }
}

@media screen and (max-width : 426px){
    header{
        background-size: 500px;
    }
    .projects-grid {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 20px;
        background: linear-gradient(to bottom, #aa00ff, #444);
    }
    .project {
        width: 300px;
        color: #fff;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 20px;
        background-color: #333;
        border-radius: 20px;
    }
    .project img {
        width: 200px;
        height: auto;
        border-radius: 20px;
    }
    .project a{
        color: #a81010;
        text-decoration: underline;
        transition: all 0.5s ease;
    }
    .project a:active{
        color: #047b90;
    }
}

@media screen and (max-width : 320px){
    header{
        background-size: 350px;
    }
    .title img{
        width: 280px;
        height: auto;
    }
    .project {
        width: 240px;
        color: #fff;
        border: 1px solid #ddd;
        background-color: #fff;
        padding: 20px;
        background-color: #333;
        border-radius: 20px;
    }
    .project img {
        width: 200px;
        height: auto;
        border-radius: 20px;
    }
    .project a{
        color: #a81010;
        text-decoration: underline;
        transition: all 0.5s ease;
    }
    .project a:active{
        color: #047b90;
    }
}